body{
    background-image: url('ProjectHotelManagement/~src/assets/img/frontpage.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}


.navbar{
    background-color: rgb(57, 115, 151);
    width: 100%;
    height: 60px;
}
.btns{
margin-left: 250px;
position: absolute;

}
.btn{
    margin: 10px;

}
