.main{
    width: 520px;
    border: 1px solid #cb3709;
    background-color: transparent;
    margin: auto;
    padding: 15px;
    position: relative;
    bottom: 50px;
}
.input{
    width: 370px;
}

.btn1{
    margin: 15px;
}
