<body>
    <div class="main">
        <button type="button" class="btn btn-outline-danger" routerLink="/home">Back</button>

        <button type="button" class="bg" mat-raised-button color="primary" routerLink="/admin/adminsignin">Sign
            in</button>

        <button type="button" class="bg" mat-raised-button color="accent" routerLink="/admin/adminsignup">Sign
            up</button>

        <button type="button" class="bg" mat-raised-button color="warn" routerLink="/admin/adminsuccess">Hotel
            List</button>
    </div>

</body>