<button mat-button color="warn" class="btn1" routerLink="/admin/adminland">Back</button>
<div class="main">
  <h2 style="text-align: center;">Login Here</h2>
  <form #userName="ngForm" autocomplete="off">
    <mat-form-field class="input">
      <mat-label>Enter Name</mat-label>
      <input matInput appNameValidation placeholder="Enter your name" name="userName" #userName="ngModel" ngModel
        required>
      <mat-hint>Enter your name</mat-hint>
    </mat-form-field><br><br>

    <mat-form-field class="input">
      <mat-label>Enter Password</mat-label>
      <input matInput type="password" placeholder="Enter your password" name="password" #password="ngModel" ngModel
        required>
      <mat-hint>Enter your valid password</mat-hint>
    </mat-form-field><br><br>

    <button class="btn" [disabled]="!userName.valid" (click)="submit(userName.value)">Sign In</button><br><br>
    <div>Not a member?<a routerLink="/admin/adminsignup">Sign up now</a></div>
  </form>
</div>
<!-- <div *ngIf="hideNotification && !showNotification" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Form submitted successfully!
    </div>
    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" (click)="hideToats()"></button>
  </div>
</div> -->