.main {
  width: 520px;
  border: 1px solid #cb3709;
  background-color: lightcyan;
  margin: auto;
  padding: 15px;
  margin-top: 50px;
}

.input {
  width: 450px;
}

.btn {
  background-color: #f20e31;
  color: white
}

.btn:hover {
  opacity: 0.4;
}

.btn1 {
  margin: 10px;
}